<body>
    <div class="sessions-wrapper clearfix">
        <div class="sessions-left-container">
            <div class="sessions-left-text">
                <p>Search for your dishes</p>
                <p>Share your recipes</p>
                <p>Record your eating habits</p>
            </div>
        </div>
        
        <div class="sessions-right-container">
            <div class="greeting">
                <%= link_to 'Welcome to Cookcare', root_url, :style=>"color:#fffffe;" %>
            </div>
            <div class="sessions-home-image clearfix">
                <div class="left-home-container top-container">
                    <div class="home-info clearfix">
                        <%= image_tag "green_pen.png", class: "home-icon" %>
                        <div class="home-container-text">レシピ投稿機能</div>
                    </div>
                    <div class="home-contents">
                        レシピを投稿することで<br>
                        自分だけのレシピ本を<br>
                        つくることができます<br>
                    </div>
                </div>
                <div class="right-home-container top-container">
                    <div class="home-info clearfix">
                        <%= image_tag "green_search.png", class: "home-icon" %>
                        <div class="home-container-text">レシピ検索機能</div>
                    </div>
                    <div class="home-contents">
                        冷蔵庫にある材料、<br>
                        食べたい料理名で<br>
                        レシピ検索が可能です
                    </div>
                </div>
                <div class="left-home-container">
                    <div class="home-info clearfix">
                        <%= image_tag "green_memo.png", class: "home-icon" %>
                        <div class="home-container-text">アレンジ機能</div>
                    </div>
                    <div class="home-contents">
                        参考にしたレシピに<br>
                        memo書きすることで<br>
                        自分流にアレンジできます
                    </div>
                </div>
                <div class="right-home-container">
                    <div class="home-info clearfix">
                        <%= image_tag "green_calendar.png", class: "home-icon" %>
                        <div class="home-container-text">食生活管理機能</div>
                    </div>
                    <div class="home-contents">
                        cookedボタンにより作った料理を<br>
                        カレンダーに反映でき、<br>
                        日々の食事を記録できます<br>
                        
                        
                    </div>
                </div>
            </div>
            <%= form_for :session, url: login_path do |f| %>
                <div class="sessions-confirm clearfix">
                    <div class="sessions-info-left">
                        <%= f.label :email, class: "sessions-text" %><br>
                        <%= f.text_field :email, class: "sessions-blank" %>
                    </div>
                    <div class="sessions-info-right">
                        <%= f.label :password, class: "sessions-text" %><br>
                        <%= f.password_field :password, class: "sessions-blank", placeholder: "8文字以上12文字以下の英数混合" %>
                    </div>
                </div>
                <div class="sessions-account-section">
                    <%= f.submit 'Sign in', class: "btn" %>
                </div>
            <% end %>
        </div>
    </div>
</body>
