<body>
    <div class="sessions-wrapper clearfix">
        <div class="sessions-left-container">
            <div class="sessions-left-text">
                <p>Search for your dishes</p>
                <p>Share your recipes</p>
                <p>Record your eating habits</p>
            </div>
        </div>
        
        <div class="sessions-right-container">
            <div class="greeting">
                <%= link_to 'Welcome to Cookcare', root_url, :style=>"color:#fffffe;" %>
            </div>
            <image class="sessions-home-image"></image>
            <%= form_for :session, url: login_path do |f| %>
                <div class="sessions-confirm clearfix">
                    <div class="sessions-info-left">
                        <%= f.label :email, class: "sessions-text" %><br>
                        <%= f.text_field :email, class: "sessions-blank" %>
                    </div>
                    <div class="sessions-info-right">
                        <%= f.label :password, class: "sessions-text" %><br>
                        <%= f.password_field :password, class: "sessions-blank" %>
                    </div>
                </div>
                <div class="sessions-account-section">
                    <%= f.submit 'Sign in', class: "btn" %>
                </div>
            <% end %>
        </div>
    </div>
</body>
