<div class="nav">
    <%= link_to "Cookcare", recipes_path, class: "title" %>
    <%= form_with(url: search_recipes_path, local: true, method: :get) do |f| %>
        <%= f.submit "Search", class: "new-btn" %>
        <%= f.text_field :search, placeholder: "Search Recipes", class: "search-blank" %>
    <% end %>
</div>
<div class="recipe-wrapper clearfix">
    <div class="side-container">
        <div class="account-section">
            <div class="account-info-section clearfix">
                <%= image_tag @current_user.image_string, class: "account-image" %>
                <%= link_to @current_user.name, edit_user_path(@current_user), {class: "name-link"} %>
            </div>
            <div class="follow-section">
                <%= link_to "Followed : #", "#", {class: "follow-link"} %>
                <%= link_to "Follower : #", "#", {class: "follow-link"} %>
            </div>
        </div>
        <div class="account-section">
            <div class="account-info-section clearfix">
                <%= image_tag "green_pen.png", class: "create-image" %>
                <div class="name-link">Post Recipe</div>
            </div>
            <div class="follow-section">
                <%= link_to "Create NEW", new_recipe_path, {class: "follow-link"} %>
                <%= link_to "From Draft", recipes_from_draft_path, {class: "follow-link"} %>
            </div>
        </div>
        <div class="list-section">
            <div class="list-info-section clearfix">
                <%= image_tag "green_list.png", class: "list-image" %>
                <%= link_to "Your Lists", "#", {class: "name-link"} %>
            </div>
            <div class="list-links">
                <%= link_to "published", "#", {class: "list-link"} %>
                <%= link_to "favorites", favorites_index_path, {class: "list-link"} %>
                <%= link_to "cooked", "#", {class: "list-link"} %>
                <%= link_to "followers", "#", {class: "list-link"} %>
            </div>
            
        </div>
        <div class="diet-section clearfix">
                <%= image_tag "green_calendar.png", class: "create-image" %>
                <%= link_to "Calendar", diets_path, {class: "name-link"} %>
        </div>
        <!--<div class="category-section">-->
        <!--    <div class="category-info-section clearfix">-->
        <!--        <%= image_tag "green_category.png", class: "list-image" %>-->
        <!--        <%= link_to "Categories", "#", {class: "name-link"} %>-->
        <!--    </div>-->
        <!--    <div class="category-links">-->
        <!--        <%= link_to "published", "#", {class: "category-link"} %>-->
        <!--        <%= link_to "favorites", "#", {class: "category-link"} %>-->
        <!--        <%= link_to "cooked", "#", {class: "category-link"} %>-->
        <!--        <%= link_to "followers", "#", {class: "category-link"} %>-->
        <!--        <%= link_to "followers", "#", {class: "category-link"} %>-->
        <!--    </div>-->
            
        <!--</div>-->
        
        
        <%= form_for :session, url: logout_path, method: :delete do |f| %>
            <%= f.submit 'Log Out', class: 'logout-btn' %>
        <% end %>
    </div>
    <div class="main-container">
        <% @favorite_recipes.each do |recipe| %>
            <% @f_recipes.each do |f_recipe|%>
                <% if recipe.id == f_recipe.recipe_id %>
                    <div class="index-single clearfix">
                        <% if recipe.recipe_image? %>
                            <%= image_tag recipe.recipe_image.url, class: "index-single-image" %>
                        <% else %>
                            <%= image_tag "no_image.jpg", class: "index-single-image" %>
                        <% end %>
                        <div class="index-single-name">
                            <%= link_to recipe.title, recipe_path(recipe), class: "index-single-title" %>
                            <div class="index-single-info clearifix">
                                <div class="index-single-favorite">
                                    <%= "Favorites: " + recipe.favorites.favorite.count.to_s %>
                                </div>
                                <div class="index-single-username">
                                    <%= "By " + recipe.user.name %>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>