<div class="nav">
    <%= link_to "Cookcare", recipes_path, class: "title" %>
    
</div>
<div class="recipe-wrapper clearfix">
    <div class="side-container">
        <%= @current_user.name %>
        <%= link_to "Edit", edit_user_path(@current_user) %><br>
        <%= link_to "Post Recipe", new_recipe_path %>
        <%= form_for :session, url: logout_path, method: :delete do |f| %>
            <%= f.submit 'Log Out', class: 'btn' %>
        <% end %>
    </div>
    <div class="main-container">
        <% @recipes.each do |recipe| %>
            <div class="index-single">
                <%= image_tag recipe.recipe_image.url if recipe.recipe_image? %>
                <%= link_to recipe.title, recipe_path(recipe) %>
                
            </div>
        <% end %>
    </div>
</div>