<div class="nav">
    <%= link_to "Cookcare", recipes_path, class: "title" %>
    <%= form_with(url: search_recipes_path, local: true, method: :get) do |f| %>
        <%= f.submit "Search", class: "new-btn" %>
        <%= f.text_field :search, placeholder: "Search Recipes", class: "search-blank" %>
    <% end %>
</div>
<div class="recipe-wrapper clearfix">
    <div class="side-container">
        <div class="account-section">
            <div class="account-info-section clearfix">
                <%= image_tag "icon.png", class: "create-image" %>
                <div class="name-link"><%= @current_user.name %> </div>
            </div>
            <div class="user-tag-section">
                <%= link_to edit_user_path(@current_user) do %><span class="tag-link">Edit Profile</span><span class="hover">プロフィール編集</span><% end %>
            </div>
        </div>
        <div class="post-recipe-section">
            <div class="recipe-info-section clearfix">
                <%= image_tag "green_pen.png", class: "create-image" %>
                <div class="name-link">Post Recipe</div>
            </div>
            <div class="recipe-tag-section">
                <%= link_to new_recipe_path do %><span class="tag-link">Create NEW</span><span class="hover">新規投稿</span><% end %><br>
                <%= link_to recipes_from_draft_path do %><span class="tag-link">From Draft</span><span class="hover">一時保存から</span><% end %>
            </div>
        </div>
        <div class="list-section">
            <div class="list-info-section clearfix">
                <%= image_tag "green_list.png", class: "list-image" %>
                <div class="name-link">Your Lists</div>
            </div>
            <div class="list-links">
                <%= link_to recipes_published_path do %><span class="list-link">Published</span><span class="hover">投稿済み</span><% end %><br>
                <%= link_to favorites_index_path do %><span class="list-link">Favorites</span><span class="hover">お気に入り</span><% end %><br>
                <%= link_to favorites_cooked_path do %><span class="list-link">Cooked</span><span class="hover">調理済み</span><% end %><br>
            </div>
            
        </div>
        <div class="diet-section clearfix">
                <%= image_tag "green_calendar.png", class: "create-image" %>
                <%= link_to diets_path do %><span class="name-link">Calendar</span><span class="hover">カレンダー</span><% end %><br>
        </div>
        
        <%= form_for :session, url: logout_path, method: :delete do |f| %>
            <%= f.submit 'Log Out', class: 'logout-btn' %>
        <% end %>
    </div>
    <div class="main-container">
        <% @recipes.each do |recipe| %>
            <div class="index-single clearfix">
                <% if recipe.recipe_image? %>
                    <%= image_tag recipe.recipe_image.url, class: "index-single-image" %>
                <% else %>
                    <%= image_tag "no_image.jpg", class: "index-single-image" %>
                <% end %>
                <div class="index-single-name">
                    <%= link_to recipe.title, recipe_path(recipe), class: "index-single-title" %>
                    <div class="index-single-info clearifix">
                        <div class="index-single-favorite">
                            <%= "Favorites: " + recipe.favorites.favorite.count.to_s %>
                        </div>
                        <div class="index-single-username">
                            <%= "By " + recipe.user.name %>
                        </div>
                        
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>