</body>
    <%= form_for @recipe do |f| %>
        <div class="nav">
            <%= link_to "Cookcare", recipes_path, class: "title" %>
            <%= f.submit "Post", class: "new-btn" %>
            <%= f.submit "Save", class: "new-btn" %>
            <%= f.submit "Delete", class: "new-btn" %>
        </div>
        <div class="recipe-wrapper clearfix">
            <div class="side-nav"></div>
            <div class="new-wrapper">
                <div class="new-container clearfix">
                    <div class="new-left-container">
                        
                        <%= f.text_field :title, class: "recipe-blank" %><br>
                        <%= f.text_field :recipe_image, class: "recipe-blank" %><br>
                        <%= f.fields_for :ingredients do |ingredient_fields| %>
                            <%= ingredient_fields.text_field :name, class: "ingredients-blank" %>
                        <% end %>
                    </div>
                    <div class="new-right-container">
                        <%= f.fields_for :categories do |category_fields| %>
                            <%= category_fields.text_field :name, class: "recipe-blank" %>
                        <% end %>
                        <%= f.text_field :step, class: "step-blank" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<body>
    