</body>
    <%= form_for @recipe do |f| %>
        <div class="nav">
            <%= link_to "Cookcare", recipes_path, class: "title" %>
            <%= f.submit "Post", class: "new-btn" %>
            <%= f.submit "Save", class: "new-btn" %>
            <%= f.submit "Delete", class: "new-btn" %>
        </div>
        <div class="recipe-wrapper clearfix">
            <div class="side-container"></div>
            <div class="main-container">
                <div class="new-section clearfix">
                    <div class="new-left-section">
                        <%= f.text_field :title, placeholder: "Title", class: "title-box" %>
                        <div class="category-box">
                            <% @categories.each do |category| %>
                                <%= f.check_box :categories, {multiple: true}, category, nil %>
                                <!--:categoriesなのか。categoryテーブルnameカラムだから:nameだと思うがエラーが出る-->
                                <%= category.name %>
                            <% end %>
                        </div>
                        <div class="ingredient-box">
                            <%= f.fields_for :ingredients do |ff| %>
                                <%= ff.text_field :name, placeholder: "Ingredients" %>
                            <% end %>
                            <%= f.fields_for :recipe_ingredients do |ff| %>
                                <%= ff.text_field :quantity, placeholder: "quantity" %>
                            <% end %>
                        </div>
                    </div>
                    <div class="new-right-section">
                        <%= f.file_field :recipe_image, placeholder: "Photos", class: "photo-box" %>
                        <div class="step-box">
                            <%= 1 %>
                            <%= f.text_area :step, placeholder: "How to Cook" %>
                            <!--<%= link_to_add_association "Add Next Step", f, :step %>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<body>
    