<body>
    <%= form_for(@recipe, url: recipes_path) do |f| %>
        <div class="nav">
            <%= link_to "Cookcare", recipes_path, class: "title" %>
            <%= f.submit "Save", class: "new-btn" %>
            <%= f.select :status, Recipe.statuses.keys.to_a, {}, class: "status-btn" %>
        </div>
        <div class="recipe-wrapper clearfix">
            <div class="side-container">
                <%= render template: "layouts/sidecontainer.html.erb" %>
            </div>
            <div class="main-container">
                <div class="recipe-section clearfix">
                    <div class="recipe-left-section">
                        <div class="title-box">
                            <p>Title</p>
                            <%= f.text_field :title, class: "title-blank" %>
                        </div>
                        <div class="category-box">
                            <p>Category</p>
                            <div class="category-blank">
                                <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |b| %>
                                    <%= b.label { b.check_box + b.text } %>
                                <% end %>
                            </div>
                        </div>
                        <div class="ingredient-box">
                            <p>Ingredients</p>
                            <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
                                <div class="field">
                                    <%= render "recipe_ingredient_fields", f: recipe_ingredient %>
                                </div>
                            <% end %>
                            <div class="links">
                                <%= link_to_add_association "Add Ingredient",f, :recipe_ingredients, class: "ingredient-btn" %>
                            </div>
                        </div>
                    </div>
                    <div class="recipe-right-section">
                        <%= f.file_field :recipe_image, placeholder: "Photos", class: "photo-box" %>
                        
                        <div class="step-box">
                            <p>Steps</p>
                            <%= f.fields_for :steps do |step| %>
                                <div class="field">
                                    <%= render "step_fields", f: step %>
                                </div>
                            <% end %>
                            <div class="links">
                                <%= link_to_add_association "Add Step",f, :steps, class: "step-btn" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</body>