<body>
    <div class="nav">
        <%= link_to "Cookcare", recipes_path, class: "title" %>
    </div>
    <div class="recipe-wrapper clearfix">
        <div class="side-container"></div>
        <div class="main-container">
            <div class="recipe-section clearfix">
                <div class="recipe-left-section">
                    <div class="title-box">
                        <p>Title</p>
                        <%= @recipe.title %>
                    </div>
                    <div class="info-box clearfix">
                        <div class="info-left-box">
                            <div class="show-username-box">
                                <p>Username</p>
                                <%= @recipe.user.name%>
                            </div>
                            <div class="image-box">
                                <p>Photo</p>
                                <%= @recipe.recipe_image %>
                            </div>
                        </div>
                        <div class="memo-box">
                            <p>Memo</p>
                        </div>
                    </div>
                    <div class="show-ingredient-box">
                        <p>Ingredients</p>
                        <%= @quantity.pluck(:quantity).join(" ") %>
                    </div>
                </div>
                
                <div class="recipe-right-section">
                    <div class="category-box">
                        <p>Category</p>
                        <%= @category.pluck(:name).join(", ") %>
                    </div>
                    <div class="step-box">
                        <p>Steps</p>
                        <%= @step.pluck(:step).join("\n")%>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
    