<body>
    <div class="nav">
        <%= link_to "Cookcare", recipes_path, class: "title" %>
    </div>
    <div class="recipe-wrapper clearfix">
        <div class="side-container"></div>
        <div class="main-container">
            <div class="new-section clearfix">
                <div class="new-left-section">
                    <div class="title-box">
                        <p>Title</p>
                        <%= @recipe.title %>
                    </div>
                    <div class="category-box">
                        <p>Category</p>
                        <%= @category.pluck(:name).join(", ") %>
                    </div>
                    <div class="ingredient-box">
                        <p>Ingredients</p>
                        <%= @ingredient.name %>
                    </div>
                </div>
                
                <div class="new-right-section">
                    <div class="photo-box">
                        <p>Image</p>
                        <%= @recipe.recipe_image %>
                    </div>
                    
                    <div class="step-box">
                        <p>Steps</p>
                        <%= @step.pluck(:step).join("/n") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
    