<div class="nav">
    <%= link_to "Cookcare", recipes_path, class: "title" %>
    <%= form_with(url: search_recipes_path, local: true, method: :get) do |f| %>
        <%= f.submit "Search", class: "new-btn" %>
        <%= f.text_field :search, placeholder: "Search Recipes", class: "search-blank" %>
    <% end %>
</div>
<div class="recipe-wrapper clearfix">
    <div class="side-container">
        <div class="account-section">
            <div class="account-info-section clearfix">
                <%= image_tag "icon.png", class: "create-image" %>
                <div class="name-link"><%= @current_user.name %> </div>
            </div>
            <div class="user-tag-section">
                <%= link_to "Edit Profile", edit_user_path(@current_user), {class: "tag-link"} %>
            </div>
        </div>
        <div class="post-recipe-section">
            <div class="recipe-info-section clearfix">
                <%= image_tag "green_pen.png", class: "create-image" %>
                <div class="name-link">Post Recipe</div>
            </div>
            <div class="recipe-tag-section">
                <%= link_to "Create NEW", new_recipe_path, {class: "tag-link"} %>
                <%= link_to "From Draft", recipes_from_draft_path, {class: "tag-link"} %>
            </div>
        </div>
        <div class="list-section">
            <div class="list-info-section clearfix">
                <%= image_tag "green_list.png", class: "list-image" %>
                <div class="name-link">Your Lists</div>
            </div>
            <div class="list-links">
                <%= link_to "published", recipes_published_path, {class: "list-link"} %>
                <%= link_to "favorites", favorites_index_path, {class: "list-link"} %>
                <%= link_to "cooked", favorites_cooked_path, {class: "list-link"} %>
            </div>
            
        </div>
        <div class="diet-section clearfix">
                <%= image_tag "green_calendar.png", class: "create-image" %>
                <%= link_to "Calendar", diets_path, {class: "name-link"} %>
        </div>
    </div>
    <div class="main-container">
        <div class="edit-user-section clearfix">
            <%= form_for @user do |f| %>
                <h1 class="text-center">Edit your Profile</h1>
                <div class="edit-box clearfix">
                    <p class="left-user-text">Name</p>
                    <%= f.text_field :name, class: 'right-user-blank' %>
                </div>
                <div class="edit-box clearfix">
                    <p class="left-user-text">Email</p>
                    <%= f.text_field :email, class: 'right-user-blank' %>
                </div>
                <div class="edit-box clearfix">
                    <p class="left-user-text">Password</p>
                    <%= f.text_field :password, class: 'right-user-blank' %>
                </div>
                <div class="edit-box clearfix">
                    <p class="left-user-text">Password Confirmation</p>
                    <%= f.text_field :password_confirmation, class: 'right-user-blank' %>
                </div>
                <%= f.submit "Update", class: 'create-btn' %>
            <% end %>
        </div>
        
    </div>
</div>