<body>
    <div class="users-new-wrapper clearfix">
        <div class="users-left-container">
            <div class="users-left-text">
                <p>Search for your dishes</p>
                <p>Share your recipes</p>
                <p>Record your eating habits</p>
            </div>
        </div>
        
        <div class="users-right-container">
            <div class="greeting">
                <%= link_to 'Welcome to Cookcare', root_url %>
            </div>
            <image class="users-home-image"></image>
            <%= form_for @user do |f| %>
                <div class="users-confirm clearfix">
                    <div class="confirm-info">
                        <%= f.label :name, class: "users-text" %><br>
                        <%= f.text_field :name, class: 'users-blank' %><br>
                        <%= f.label :email, class: "users-text" %><br>
                        <%= f.text_field :email, class: 'users-blank' %>
                    </div>
                    <div class="confirm-info">
                        <%= f.label :password, class: "users-text" %><br>
                        <%= f.password_field :password, class: 'users-blank' %><br>
                        <%= f.label :password_confirmation, class: "users-text" %><br>
                        <%= f.password_field :password_confirmation, class: 'users-blank' %>
                    </div>
                </div>
                <div class="users-account-section">
                    <%= f.submit "Create an Account", class: 'btn' %>
                </div>
            <% end %>
        </div>
    </div>
</body>
