<body>
    <div class="top-wrapper clearfix">
        <div class="left-container">
            <div class="left-text">
                <p>Search for your dishes</p>
                <p>Share your recipes</p>
                <p>Record your eating habits</p>
            </div>
        </div>
        
        <div class="right-container">
            <div class="login clearfix">
                <%= form_for :session, url: login_path do |f| %>
                    <div class="login-info">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: "blank" %>
                    </div>
                    <div class="login-info">
                        <%= f.label :password %><br>
                        <%= f.password_field :password, class: "blank" %>
                    </div>
                    <div class="btn-section">
                        <%= f.submit 'Log in', class: 'mini-btn' %>
                    </div>
                <% end %>
            </div>
            
            <div class="greeting">
                <p>Welcome to Cookcare</p>
            </div>
            <img class="home-image"></img>
            
            <div class="account-section">
                <p>Cookcareをはじめよう</p>
                <%= link_to 'Create an Account', new_user_path, class: "btn" %>
                <%= link_to 'Sign In', sessions_new_path, class: "btn" %>
            </div>
        </div>
    </div>
</body>
