<div class="nav">
		<%= link_to "Cookcare", recipes_path, class: "title" %>
</div>
<div class="recipe-wrapper clearfix">
    <div class="side-container">
        <div class="account-section">
            <div class="account-info-section clearfix">
                <%= image_tag "icon.png", class: "create-image" %>
                <div class="name-link"><%= @current_user.name %> </div>
            </div>
            <div class="user-tag-section">
            	<%= link_to edit_user_path(@current_user) do %><span class="tag-link">Edit Profile</span><span class="hover">プロフィール編集</span><% end %>
            </div>
        </div>
        <div class="post-recipe-section">
            <div class="recipe-info-section clearfix">
                <%= image_tag "green_pen.png", class: "create-image" %>
                <div class="name-link">Post Recipe</div>
            </div>
            <div class="recipe-tag-section">
            	<%= link_to new_recipe_path do %><span class="tag-link">Create NEW</span><span class="hover">新規投稿</span><% end %><br>
                <%= link_to recipes_from_draft_path do %><span class="tag-link">From Draft</span><span class="hover">一時保存から</span><% end %>
            </div>
        </div>
        <div class="list-section">
            <div class="list-info-section clearfix">
                <%= image_tag "green_list.png", class: "list-image" %>
                <div class="name-link">Your Lists</div>
            </div>
            <div class="list-links">
            	<%= link_to recipes_published_path do %><span class="list-link">Published</span><span class="hover">投稿済み</span><% end %><br>
                <%= link_to favorites_index_path do %><span class="list-link">Favorites</span><span class="hover">お気に入り</span><% end %><br>
                <%= link_to favorites_cooked_path do %><span class="list-link">Cooked</span><span class="hover">調理済み</span><% end %><br>
            </div>
            
        </div>
        <div class="diet-section clearfix">
                <%= image_tag "green_calendar.png", class: "create-image" %>
                <%= link_to diets_path do %><span class="name-link">Calendar</span><span class="hover">カレンダー</span><% end %><br>
        </div>
    </div>
	<div class="main-container">
		<div class="diet-index-section">
			<div class="top-diet-section">
				<%= form_for @diet do |f| %>
					<%= f.text_field :title, placeholder: "Title", class: "record-blank" %>
					<%= f.text_field :place, placeholder: "Place", class: "record-blank" %>
					<%= f.date_field :start_time, value: Time.now.strftime("%Y-%m-%d"), class: "record-btn" %>
					<%= f.submit "Save", class: "record-save-btn" %><br>
					<%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |b| %>
						<%= b.label { b.check_box + b.text } %>
					<% end %>
				<% end %>
			</div>
			<div class="bottom-diet-section">
				<%= month_calendar events: @diets do |date, diets| %>
					<%= date.day %><br>
					
					<% diets.each do |diet| %>
						<%= link_to "・" + diet.title, "/diets/#{diet.id}/edit" %><br>
					<% end %>
					<% @favorites.each do |favorite| %>
						<% if favorite.start_time == date %>
							<%= link_to "・" + favorite.recipe.title, "/recipes/#{favorite.recipe.id}" %><br>
							<!--<% favorite.recipe.categories.each do |category| %>-->
							<!--	<div class="show-category-on">-->
							<!--		<%= category.name %>-->
							<!--	</div>-->
							<!--<% end %>-->
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
