<div class="nav">
		<%= link_to "Cookcare", recipes_path, class: "title" %>
</div>
<div class="recipe-wrapper clearfix">
    <div class="side-container">
    	<%= render template: "layouts/sidecontainer.html.erb" %>
    </div>
	<div class="main-container">
		<div class="diet-index-section">
			<div class="top-diet-section">
				<%= form_for @diet do |f| %>
					<%= f.text_field :title, placeholder: "Title", class: "record-blank" %>
					<%= f.text_field :place, placeholder: "Place", class: "record-blank" %>
					<%= f.date_field :start_time, value: Time.now.strftime("%Y-%m-%d"), class: "record-btn" %>
					<%= f.submit "Save", class: "record-save-btn" %><br>
					<%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |b| %>
						<%= b.label { b.check_box + b.text } %>
					<% end %>
				<% end %>
			</div>
			<div class="bottom-diet-section">
				<%= month_calendar events: @diets do |date, diets| %>
					<%= date.day %><br>
					
					<% diets.each do |diet| %>
						<%= link_to "・" + diet.title, "/diets/#{diet.id}/edit" %><br>
					<% end %>
					<% @memos.each do |memo| %>
						<% if memo.start_time == date %>
							<%= link_to "・" + memo.recipe.title, "/recipes/#{memo.recipe.id}" %><br>
							<!--<% memo.recipe.categories.each do |category| %>-->
							<!--	<div class="show-category-on">-->
							<!--		<%= category.name %>-->
							<!--	</div>-->
							<!--<% end %>-->
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
